.container{
    margin-bottom: 100px;
}
.carousel{
    border-radius: 10px;
}
.bg-color{
    background-color: antiquewhite;
}
.carousel-item{
    padding: 20px 40px;
    
}
.prices{
    color: #FF136F;
}
.buy-now{
    background-image: linear-gradient(to bottom, #FF136F 0%, #eb377f 100%);
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 40px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px gray;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: aqua;
}
.cat3{
    background-color: purple;
}
.catagoroies h1{
    color: #fff;
}
.catagoroies img{
    width: 80px;
}
.card{
    border: none;
    box-shadow: 10px 10px 20px gray;
    border-radius: 30px;
}
.contact{
    height: 300px;
    border-radius: 30px;
}
.contact h6{
    color: gray;
}
footer{
    text-align: center;
}